* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
}

/*HERO SECTION */

.hero {
  background-color: #fdf2e9;
}
.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 5rem;
}
.hero-main-heading {
  font-size: 5rem;
  letter-spacing: -0.5px;
  margin-top: 4rem;
}
.hero-description {
  font-size: 2rem;
  margin: 4.8rem 0;
  line-height: 1.5;
}
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
}
.action-btn:link,
.action-btn:visited {
  background-color: #e67e22;
  color: #fff;
}
.action-btn:hover,
.action-btn:active {
  background-color: #b8651b;
}
.information-btn:link,
.information-btn:visited {
  background-color: #fff;
  color: #555;
}

.information-btn:hover,
.information-btn:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
.hero-img {
  width: 100%;
}
.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 11rem;
}
.delivered-meals-text {
  font-size: 2rem;
  font-weight: 600;
}
.delivered-meals-imgs {
  display: flex;
}
.delivered-meals-text span {
  color: #b8651b;
  font-weight: 700;
}
.delivered-meals-img:last-child {
  margin-right: 1rem;
}
.delivered-meals-img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 2px solid #fdf2e9;
  margin: -0.7rem;
}

/* NAV */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 5rem;
}
.logo {
  height: 2.2rem;
}
.nav-list {
  display: flex;
  gap: 3.2rem;
}
.nav-list-item {
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
}
.nav-link:hover,
.nav-link:active {
  color: #b8651b;
}
.nav-link-cta:link,
.nav-link-cta:visited {
  background-color: #e98b38;
  padding: 0.8em 1.6em;
  border-radius: 5px;
}
.nav-link-cta:hover,
.nav-link-cta:active {
  color: #fff;
}

/*SECTION FEATURED*/

.section-featured {
  background-color: #f7f7f7;
  padding: 4rem 0;
}
.featured-heading {
  text-align: center;
  font-size: 1.6rem;
  color: #888;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.featured-logos {
  display: flex;
  justify-content: space-around;
  filter: brightness(0);
  opacity: 50%;
}
.featured-logos img {
  height: 3.2rem;
}

/* SECTION HOW */

.subtitle {
  text-transform: uppercase;
  color: #e67e22;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.section-how container {
  max-width: 120rem;
}
.section-how {
  margin: 0 auto;
  margin: 9rem 10rem;
}

.section-how-heading {
  font-size: 5rem;
}
.step-p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.grid--2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8rem;
  column-gap: 4rem;
}
.step-img {
  width: 35%;
}

.step-heading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.step-number {
  font-size: 6rem;
  color: #ccc;
  font-weight: 700;
  margin-bottom: 1rem;
}
.step-text-box {
  align-self: center;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
/*SECTION MEALS*/

.section-meals-subtitle {
  text-align: center;
  margin-top: 10rem;
}

.section-meals-heading,
.header {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 6rem;
}
.meals-info h3 {
  margin-bottom: 4rem;
  font-size: 3.2rem;
}

.section-meals {
  font-size: 2rem;
  margin-top: 9rem;
}
.grid--3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  column-gap: 6rem;
}
.meals-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 4rem;
  margin-bottom: 6rem;
  box-shadow: 0 2rem 4rem 2rem rgba(0, 0, 0, 0.08);
  justify-self: center;
  align-self: center;
  border-radius: 1.5rem;
  height: 50rem;
  transition: all 0.4s;
}
.label {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 10rem;
  padding: 0.2rem 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 3rem 0 1rem 0;
}
.labels {
  display: flex;
  gap: 1rem;
}
.vegetarian {
  background-color: #51cf66;
}
.vegan {
  background-color: #94d82d;
}
.paleo {
  background-color: #ffd43b;
}

.meals-card-img {
  max-width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}
.meals-card-text {
  line-height: 1.5;
  margin-left: 5rem;
}
.meals-info-list {
  list-style: none;
}
.meals-info-item {
  display: flex;
  gap: 1.5rem;
  margin: 1rem;
}
.icon {
  color: #e98b38;
  height: 2.4rem;
  width: 2.4rem;
}
.diet-list {
  list-style: none;
}
.section-meals-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4rem;
}
.meals-card-text h4 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.diet-name {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.meals-card:hover {
  transform: translateY(-1.5rem);
}
.recipes-link {
  text-align: center;
  font-size: 1.8rem;
  transition: all 0.3s ease-out;
  margin-bottom: 4rem;
}
.link:link,
.link:visited {
  text-decoration: none;
  color: #e67e22;
  border-bottom: 0.1rem solid currentColor;
}
.link:hover,
.link:active {
  border-bottom: 0.1rem solid transparent;
}

/*SECTION TESTIMONIAL*/
.testimonial-header {
  text-align: left;
}
.testimonial-subtitle {
  margin-top: 4rem;
}
.section-testimonial {
  margin-top: 9rem;
  padding-right: 8rem;
  padding-left: 8rem;
  background-color: #fdf2e9;
}
.testimonial-author-img {
  height: 6.4rem;
  border-radius: 50%;
}
.testimonial-quote {
  font-size: 2rem;
  margin: 2rem 0;
}
.testimonial-author-name {
  font-size: 1.8rem;
  opacity: 70%;
}
.testimonial-grid {
  padding-left: 5rem;
}
.testimonial-content {
  align-self: center;
  justify-self: center;
}
.testimonial-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  align-content: center;
  margin: 4rem 0 4rem 4rem;
  align-items: center;
}
.gallery-img img {
  height: 20rem;
  width: 20rem;
  transition: all 0.4s ease-out;
}
.gallery-img {
  overflow: hidden;
}
.gallery-img img:hover {
  transform: scale(1.1);
}
/*PRICING SECTION*/

.pricing-section {
  font-size: 2rem;
  margin: 9rem;
  padding: 9rem;
}
.pricing-header {
  text-align: left;
}
.pricing-cards {
  gap: 6rem;
}
.card-price-details {
  opacity: 0.8;
  font-size: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.card-info-list {
  list-style: none;
  margin-bottom: 4rem;
}
.cta-btn {
  background-color: #e98b38;
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  transition: all 0.3s;
}
.cta-btn:hover {
  background-color: #b8651b;
  cursor: pointer;
}
.card-price {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1;
}
.pricing-card {
  width: 60%;
  line-height: 2;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid #fdf2e9;
  text-align: center;
}

.complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
  justify-self: left;
}
.starter {
  justify-self: right;
}

.card-info-list-item {
  display: flex;
  gap: 1.5rem;
}

.complete::after {
  content: "Best value";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  position: absolute;
  top: 6%;
  right: -18%;
  background-color: #ffd43b;
  padding: 0.4rem 8rem;
  color: #000;
  transform: rotate(44deg);
}
.pricing-note {
  margin-top: 6rem;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1.3;
}
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  line-height: 1.6;
  margin-top: 9rem;
}
.feature-headline {
  font-weight: 700;
  font-size: 2.8rem;
}
.feature-icon {
  color: #e67e22;

  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 3rem;
}

/*CTA SECTION */

.cta-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  color: #170d03;
  max-width: 120rem;
  margin: 9rem auto;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 12rem;
}
.cta-headline {
  margin-bottom: 4rem;
  text-align: left;
}
.cta-content {
  padding: 6rem;
}
.cta-p {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 1.2rem;
  column-gap: 2.4rem;
}
.cta-img {
  background-image: linear-gradient(
      to right bottom,
      hsla(28, 80%, 61%, 0.406),
      hsla(28, 80%, 52%, 0.406)
    ),
    url("../img/eating.jpg");
  background-size: cover;
}
.cta-form label {
  display: block;
  color: inherit;
  font-size: 1.6rem;
}
.cta-form .btn {
  background-color: #170d03;
  color: #fae5d3;
  margin-left: 0;
  width: 100%;
  font-size: 2rem;
  align-self: end;
}
.cta-form .btn:hover {
  background-color: #fae5d3;
  color: #170d03;
}
.cta-form label {
  margin-bottom: 1rem;
  font-weight: 600;
}
.cta-form input,
.cta-form select {
  border: none;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  background-color: #fdf2e9;
  font-family: inherit;
  font-size: 1.6rem;
}
.cta-form select option {
  color: inherit;
}
.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #a15818;
}
/*FOOTER*/

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 8rem;
  font-size: 1.6rem;
  max-width: 120rem;
  margin: 9rem auto;
}
.footer-grid .nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.nav-list-footer {
  margin-bottom: 9rem;
}
.nav-heading,
.aside-heading {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.nav-list-item a:link,
.nav-list-item a:visited,
.phone-link:link,
.phone-link:visited,
.email-link:link,
.email-link:visited {
  text-decoration: none;
  color: #555;
}
.icon-logo {
  margin: 3rem 1.5rem 0 0;
  width: 2.4rem;
  height: 2.4rem;
  opacity: 0.8;
}

.copyrights {
  font-size: 1.4rem;
  opacity: 0.8;
  margin-top: 7rem;
}
.footer-grid aside {
  line-height: 1.5;
}
.aside-p-links {
  margin-top: 3rem;
}
hr {
  opacity: 0.4;
}
footer {
  margin-top: 12rem;
}
